<%= link_to book_path(book) do %>
  <div class="book-item relative">
    <div id="<%= dom_id book %>">
      <% if book.cover.attached? %>
        <%= image_tag book.cover %>
      <% else %>
        <%= image_tag "book_cover.png" %>
        <p class="book-title">
          <%= book.title %>
        </p>
        <p class="book-author">
          <%= book.author %>
        </p>
        <p class="book-isbn">
          IBSN: <%= book.isbn %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
